@font-face {
	font-family: "AvenirNextCry-Regular";
	src: url('./fonts/AvenirNextCry-Regular.woff'),url('./fonts/AvenirNextCry-Regular.woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Avenirnextcyr-bold";
	src: url('./fonts/avenirnextcyr-bold.woff'),url('./fonts/avenirnextcyr-bold.woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Avenirnextcyr-demi";
	src: url('./fonts/avenirnextcyr-demi.woff'),url('./fonts/avenirnextcyr-demi.woff2');
	font-weight: auto;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "EuclidCircularB-Medium";
	src: url('./fonts/EuclidCircularB-Medium.woff'),url('./fonts/EuclidCircularB-Medium.woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}



